use guix \
    clang \
    gcc-toolchain \
    ruby \
    ruby-rake-compiler \
    make \
    gettext \
    gdb

path_add C_INCLUDE_PATH "$(ruby -e "puts RbConfig::CONFIG['rubyhdrdir']")"
path_add C_INCLUDE_PATH "$(ruby -e "puts RbConfig::CONFIG['rubyarchhdrdir']")"
